body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background: #1f2833;
  box-sizing: border-box;
}

.content{
  width: 450px;
  padding: 50px;
  position: absolute;
  z-index: 1000;
  top: 30%;
  left: 50%;
  background-color: #0b0c10;
  border-radius: 30px;
  transform:translate(-50%)
}

.content .cercel{
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.content h2{
  color:  #66fcf1;
  font-size: 35px;
  text-align: center;
}

.content input[type ="text"],.content input[type ="password"]{
  border: 0;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  width: 150px;
  height: 35px;
  border: 1px solid #45a29e;
  padding: 5px;
  color: #5c6c7c;
  outline: none;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.content input[type ="text"]:focus,.content input[type ="password"]:focus{
  width: 250px;
  border-color: #fce181;
  border-radius: 20px;
} 

button{
  border: 0;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  width: 75px;
  height: 35px;
  border: 1px solid #45a29e;
  padding: 5px;
  color: #FEF9c7;
  outline: none;
  border-radius: 20px;
}

.content input[type="button"]:focus{
  border-color: #E23B3B;
  color: #16ffbd;
} 

.cercel{
  width: 120px;
  height: 120px;
  top: -30%;
  left: 29%;
  background-color: #116466;
  border-radius: 50vh;
  overflow: hidden;
}

.body{
  background: #d9b08c;
  width: 70px;
  height: 60px;
  top:-16%;
  left: 38%;
  position: absolute;
  border-radius: 60px;
}

